<div class="m-3 text-start">
  <h1 class="pt-3" style="color: #1b91e0; font-family: 'Caladea'">
    Administratori:
  </h1>
  <hr style="border: 1.5px solid #1b91e0" />
  <div class="d-flex align-items-center">
    <div class="col-8">
      <input
        type="text"
        placeholder="Pretraga..."
        class="form-control"
        style="border: 2px solid #5687a7; border-radius: 5px"
        [(ngModel)]="searchQuery"
        (input)="filterAdministratori()"
      />
    </div>

    <div class="col-4 d-flex align-items-center">
      <h6
        style="
          margin-bottom: 0px;
          padding: 10px;
          color: #1b91e0;
          border-bottom: 1px solid rgb(241, 241, 241);
        "
      >
        Sortiranje:
      </h6>
      <select
        class="form-select"
        [(ngModel)]="selectedSortBy"
        (change)="sortAdministratori()"
        style="color: #1b91e0; border: 2px solid #5687a7; border-radius: 5px"
      >
        <option value="default"></option>
        <option value="ime">Po imenu</option>
        <option value="prezime">Po prezimenu</option>
      </select>
    </div>
  </div>

  <div class="mt-2" style="overflow: auto; max-height: 60vh">
    <table class="table table-secondary text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ime</th>
          <th scope="col">Prezime</th>
          <th scope="col">Email</th>
          <th scope="col">Adresa</th>
          <th scope="col">Telefon</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let administrator of filteredAdministratori; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ administrator.ime }}</td>
          <td>{{ administrator.prezime }}</td>
          <td>{{ administrator.email }}</td>
          <td>
            {{ administrator.drzava }}, {{ administrator.grad }},{{
              administrator.adresa
            }}
          </td>
          <td>+381{{ administrator.telefon }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
