<div
  class="container text-center m-5 mt-3 mb-0"
  style="
    border-radius: 5px;
    width: 90%;
    height: 85vh;
    background-color: #126094;
    position: relative;
  "
>
  <h2 style="color: white; font-family: 'Jackues Francios'" class="pt-3">
    KARTON
  </h2>
  <hr style="border: 1px solid white" />

  <div class="mb-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          aria-current="page"
          (click)="showPregledi = false"
          [ngClass]="{ active: !showPregledi }"
          >Informacije</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          style="cursor: pointer"
          (click)="showPregledi = true"
          [ngClass]="{ active: showPregledi }"
          >Pregledi</a
        >
      </li>
    </ul>
  </div>

  <table
    *ngIf="!showPregledi"
    class="table text-start m-4"
    style="color: white; font-family: 'Jackues Francios'"
  >
    <tr>
      <th scope="col" class="p-2">Ime</th>
      <td class="p-2">{{ pacijent.ime }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Prezime:</th>
      <td class="p-2">{{ pacijent.prezime }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Pol:</th>
      <td class="p-2">{{ pacijent.pol }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Datum rodjenja:</th>
      <td class="p-2">{{ pacijent.datumRodjenja }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Broj telefona:</th>
      <td class="p-2">+381 {{ pacijent.telefon }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Drzava:</th>
      <td class="p-2">{{ pacijent.drzava }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Grad:</th>
      <td class="p-2">{{ pacijent.grad }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Adresa:</th>
      <td class="p-2">{{ pacijent.adresa }}</td>
    </tr>
    <tr>
      <th scope="col" class="p-2">Email:</th>
      <td class="p-2">{{ pacijent.email }}</td>
    </tr>
  </table>

  <div *ngIf="showPregledi" style="overflow: auto; max-height: 55vh">
    <div
      *ngFor="let pregled of pregledi; let i = index"
      class="text-start p-3 m-2 mb-3"
      style="background-color: aliceblue; border-radius: 5px"
    >
      <p>
        <b>{{ i + 1 }} Datum: {{ pregled.datum }} {{ pregled.vreme }}</b>
      </p>
      <hr />
      <table class="table">
        <tr style="border-bottom: 1px solid #4c8eba">
          <th>Broj zuba:</th>
          <td>{{ pregled.brojZuba }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #4c8eba">
          <th>Gornja vilica:</th>
          <td>{{ pregled.gronjaVilicaBr }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #4c8eba">
          <th>Gornja vilica stanje:</th>
          <td>{{ pregled.gronjaVilicaStanje }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #4c8eba">
          <th>Donja vilica stanje:</th>
          <td>{{ pregled.donjaVilicaStanje }}</td>
        </tr>
        <tr style="border-bottom: 1px solid #4c8eba">
          <th>Opis:</th>
          <td>{{ pregled.opis }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div style="position: absolute; bottom: 10px; right: 10px">
    <button class="btn btn-secondary" [routerLink]="['/pacijenti']">
      Nazad
    </button>
    <button
      *ngIf="!showPregledi"
      class="btn btn-warning m-2"
      [routerLink]="['/izmenipacijenta/' + pacijentId]"
    >
      Izmeni
    </button>
  </div>
</div>
