<div class="row w-100">
  <div class="col-md-3">
    <side-menu></side-menu>
  </div>

  <div class="col-md-9" style="width: 75%">
    <div class="m-3 text-start">
      <h1 class="pt-3" style="color: #1b91e0; font-family: 'Caladea'">
        Stomatolozi na čekanju:
      </h1>
      <hr style="border: 1.5px solid #1b91e0" />
      <div class="d-flex align-items-center">
        <div class="col-8">
          <input
            type="text"
            placeholder="Pretraga..."
            class="form-control"
            style="border: 2px solid #5687a7; border-radius: 5px"
            [(ngModel)]="searchQuery"
            (input)="filterStomatolozi()"
          />
        </div>

        <div class="col-4 d-flex align-items-center">
          <h6
            style="
              margin-bottom: 0px;
              padding: 10px;
              color: #1b91e0;
              border-bottom: 1px solid rgb(241, 241, 241);
            "
          >
            Sortiranje:
          </h6>
          <select
            class="form-select"
            [(ngModel)]="selectedSortBy"
            (change)="sortStomatolozi()"
            style="
              color: #1b91e0;
              border: 2px solid #5687a7;
              border-radius: 5px;
            "
          >
            <option value="default"></option>
            <option value="ime">Po imenu</option>
            <option value="prezime">Po prezimenu</option>
          </select>
        </div>
      </div>

      <div class="mt-2" style="overflow: auto; max-height: 60vh">
        <table class="table table-secondary text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
              <th scope="col">Email</th>
              <th scope="col">Adresa</th>
              <th scope="col">...</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stomatolog of filteredStomatolozi; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ stomatolog.ime }}</td>
              <td>{{ stomatolog.prezime }}</td>
              <td>{{ stomatolog.email }}</td>
              <td>
                {{ stomatolog.drzava }}, {{ stomatolog.grad }},
                {{ stomatolog.adresa }}
              </td>

              <td>
                <button
                  class="btn btn-success"
                  style="margin-right: 5px"
                  (click)="Odobri(stomatolog.id)"
                >
                  Odobri
                </button>
                <button class="btn btn-danger" (click)="Odbi(stomatolog.id)">
                  Odbi
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
