<div class="m-3 text-start">
  <h1 class="pt-3" style="color: #1b91e0; font-family: 'Caladea'">
    Pacijenti:
  </h1>
  <hr style="border: 1.5px solid #1b91e0" />
  <div class="d-flex align-items-center">
    <div class="col-8">
      <input
        type="text"
        placeholder="Pretraga..."
        class="form-control"
        style="border: 2px solid #5687a7; border-radius: 5px"
        [(ngModel)]="searchQuery"
        (input)="filterPacijenti()"
      />
    </div>

    <div class="col-4 d-flex align-items-center">
      <h6
        style="
          margin-bottom: 0px;
          padding: 10px;
          color: #1b91e0;
          border-bottom: 1px solid rgb(241, 241, 241);
        "
      >
        Filtriranje:
      </h6>
      <select
        class="form-select"
        [(ngModel)]="selectedSearchBy"
        (change)="filterPacijenti()"
        style="color: #1b91e0; border: 2px solid #5687a7; border-radius: 5px"
      >
        <option value="default" hidden disabled selected>
          Pretraga po imenu
        </option>
        <option value="ime">Po imenu</option>
        <option value="prezime">Po prezimenu</option>
      </select>
    </div>
  </div>

  <div class="mt-2" style="overflow: auto; max-height: 60vh">
    <table class="table table-secondary text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ime</th>
          <th scope="col">Prezime</th>
          <th scope="col">Email</th>
          <th scope="col">Karton</th>
          <th>...</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pacijent of filteredPacijenti; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ pacijent.ime }}</td>
          <td>{{ pacijent.prezime }}</td>
          <td>{{ pacijent.email }}</td>
          <td>
            <i
              [routerLink]="'/karton/' + pacijent.id"
              class="bi bi-clipboard-data"
              style="font-size: 25px; cursor: pointer"
            ></i>
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="DeletePacijent(pacijent.id)"
            >
              Obrisi
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
