<div class="row w-100">
  <div class="col-md-3">
    <side-menu></side-menu>
  </div>

  <div class="col-md-9" style="width: 75%">
    <div
      class="container text-center m-5"
      style="
        border-radius: 5px;
        width: 90%;
        height: 65vh;
        background-color: #126094;
        position: relative;
      "
    >
      <h2 style="color: white; font-family: 'Jackues Francios'" class="pt-3">
        ZAKAZI TERMIN
      </h2>
      <hr style="border: 1px solid white" />

      <form
        [formGroup]="addForm"
        (ngSubmit)="onSubmit()"
        class="text-start d-flex flex-column"
        style="
          font-family: 'Caladea';
          color: white;
          height: 50vh;
          justify-content: space-between;
        "
      >
        <div class="mb-3">
          <label for="IDPacijent" class="form-label">Pacijent:</label>
          <select class="form-control" formControlName="IDPacijent">
            <option value="" disabled selected>Izaberite pacijenta</option>
            <option *ngFor="let pacijent of pacijenti" [value]="pacijent.id">
              {{ pacijent.ime }} {{ pacijent.prezime }}
            </option>
          </select>
          <span
            *ngIf="!IDPacijent.valid && (IDPacijent.touched || userSubmitted)"
            class="error-block"
            style="color: red"
            >Molim vas unesite pacijenta</span
          >
        </div>

        <div class="mb-3">
          <label for="Datum" class="form-label">Datum:</label>
          <input type="date" class="form-control" formControlName="Datum" />
          <span
            *ngIf="!Datum.valid && (Datum.touched || userSubmitted)"
            class="error-block"
            style="color: red"
            >Molim vas unesite datum</span
          >
        </div>

        <div class="mb-3">
          <label for="Vreme" class="form-label">Vreme:</label>
          <input type="time" class="form-control" formControlName="Vreme" />
          <span
            *ngIf="!Vreme.valid && (Vreme.touched || userSubmitted)"
            class="error-block"
            style="color: red"
            >Molim vas unesite time</span
          >
        </div>

        <button
          type="submit"
          class="btn btn-warning w-100"
          style="border: 1px solid black"
        >
          Potvrdi
        </button>
      </form>
    </div>
  </div>
</div>
